@import "./partials/animazioni";
@import "./partials/botoni";
@import "./partials/colori";
@import "./partials/font";
@import "./partials/maxins-generici";
@import "./partials/reset";
@import "./partials/spaziature";





body{
   
font-family:$font-serif ;
line-height: 1.6;
background-color: $fondo-color;






}
.container1{
    background-color: $griglia-color;
    min-height: 600px;

    


   
    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size:$size-1 ;
        margin-top: $size-2;
        ul{
            display: flex;
            list-style-type: none
        }
        li {
            padding: $size-1;
          }

        a{
            text-decoration: none;
            color: $fondo-color;   
        }
    }
    &-content{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    }
}
main{
    
    img{
        width:500px ;
    }
    
    .imgtesto{
       

        display: flex;
    }
    

}
.button{
    margin-top: $size-1;
    

}
button{
    @include mybuttons();
    
}
button:nth-of-type(1){
    background-color: #0e6cff;
}
button:nth-of-type(2){
    background-color:#ff8700;
}
button:nth-of-type(3){
    background-color: #4caf50;
}

main{
    display: flex;
    justify-content: space-between;
    margin-top: $size-3;
    
    img{
        width: 20%;
        border-radius: 10%;
    }
}